body {
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1 {
    font-family: 'Lucida Sans';
    font-size: 48px;
}

label {
    font-family: 'Lucida Sans';
    font-size: 18px;
}

table {
    border-collapse: collapse;
    text-align: center;
}

table, td, th {
    border: 1px solid #ddd;
}

tr {
    font-family: 'Lucida Sans';
    font-size: 18px;    
}

.cell-date {
    width: 125px;
}
.cell-loc {
    width: 150px;
}
.cell-desc {
    width: 350px
}
.cell-cost {
    width: 100px;
}
.cell-del {
    width: 75px;
}

.del-button {
    font-family: 'Lucida Sans';
    font-size: 18px;
    font-weight: bold;
    color: red;
    background-color: transparent;
    border: 0;
    width: 60px;
}

.expense-inputs{
    font-family: 'Lucida Sans';
    font-size: 18px;
}

#expense-form {
    display: flex;
    flex-direction: column;
}

#form-row1 {
    margin-bottom: 5px;
}

#expense-date {
    min-width: 100px;
}

#expense-location {
    min-width: 250px;
}

#expense-description {
    min-width: 285px;
}

#expense-cost {
    max-width: 100px;
}

#add-expense {
    font-family: 'Lucida Sans';
    font-size: 18px;
    background-color: transparent;
    border: 2px solid;
    width: 60px;
}

#expenses {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 800px;
}

#expense-table {
    width: 100%;
}